@{
    var version = typeof(IdentityServer4.Hosting.IdentityServerMiddleware).Assembly.GetName().Version.ToString();
}

<div class="welcome-page">
    <div class="row page-header">
        <div class="col-sm-10">
            <h1>
                Welcome to Mada Solutions
            </h1>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-8">
            <p>
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Nulla, voluptas consequatur inventore expedita commodi omnis soluta dolores, vero sunt fuga quas illum, excepturi totam cum perspiciatis molestiae consectetur tempore dolor?
            </p>
        </div>
    </div>
</div>
